<!DOCTYPE html>

<html lang="en">

<head>
	<title>Predictions - <%= contest %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" id="theme" href="<%= theme %>">
	<link rel="icon" href="https://image.flaticon.com/icons/svg/858/858699.svg">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144934197-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-144934197-1');
	</script>
</head>

<body>
	<div class="container">
		<div class="row" style="margin-top:15px;">
			<div class="col-8">
				<h1>Predictions for <a href="https://www.codechef.com/<%= contest %>"><%= contest %></a> -
					<%= typename %></h1>
			</div>
			<div class="col-3">
				<span>Codechef Rating Predictor - <a
						href="https://github.com/dush1729/codechef-rating-predictor">Github</a></span> <br />
				<span>Last updated: <%= elapsed %></span>
			</div>
			<div class="col-1">
				<img alt="Switch Theme" width="50" src="https://image.flaticon.com/icons/svg/1939/1939847.svg"
					id="themeButton">
			</div>
		</div>

		<div class="card-coloumns" style="margin-top: 10px">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-4">
							<h4>Entries Per Page</h4>
						</div>
						<div class="col-sm-8">
							<ul class="pagination pagination mt-0 mb-0">
								<li class="<%= perPage == 10 ? 'page-item active' : 'page-item' %>"><a class="page-link"
										href="/contest/<%= contest %>/<%= typename.toLowerCase() %>?perPage=<%= 10 %>&page=1">10</a>
								</li>
								<li class="<%= perPage == 25 ? 'page-item active' : 'page-item' %>"><a class="page-link"
										href="/contest/<%= contest %>/<%= typename.toLowerCase() %>?perPage=<%= 25 %>&page=1">25</a>
								</li>
								<li class="<%= perPage == 50 ? 'page-item active' : 'page-item' %>"><a class="page-link"
										href="/contest/<%= contest %>/<%= typename.toLowerCase() %>?perPage=<%= 50 %>&page=1">50</a>
								</li>
								<li class="<%= perPage == 100 ? 'page-item active' : 'page-item' %>"><a
										class="page-link"
										href="/contest/<%= contest %>/<%= typename.toLowerCase() %>?perPage=<%= 100 %>&page=1">100</a>
								</li>
								<li class="<%= perPage == 1000 ? 'page-item active' : 'page-item' %>"><a
										class="page-link"
										href="/contest/<%= contest %>/<%= typename.toLowerCase() %>?perPage=<%= 1000 %>&page=1">1000</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card-coloumns" style="margin-top: 10px">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-4">
							<h4>Page Number</h4>
						</div>
						<div class="col-sm-8">
							<ul class="pagination pagination mt-0 mb-0">
								<% var pages = 0; %>
								<% for(var i=Math.max(1,selectedPage-3);i<=Math.min(selectedPage+3,pageCount); i++, pages++) { %>
								<li class="<%= i == selectedPage ? 'page-item active' : 'page-item' %>"><a
										class="page-link"
										href="/contest/<%= contest %>/<%= typename.toLowerCase() %>?perPage=<%= perPage %>&page=<%= i %>"><%= i %></a>
								</li>
								<% } %>
								<% if(pages < 7) %>
								<% for(var i=selectedPage+4;i<=pageCount && pages<7; i++, pages++) { %>
								<li class="<%= i == selectedPage ? 'page-item active' : 'page-item' %>"><a
										class="page-link"
										href="/contest/<%= contest %>/<%= typename.toLowerCase() %>?perPage=<%= perPage %>&page=<%= i %>"><%= i %></a>
								</li>
								<% } %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="table table-responsive" style="margin-top: 10px;">
			<table class="table table-dark">
				<thead class="thead-dark">
					<tr>
						<th>Seed</th>
						<th>#</th>
						<th>Username</th>
						<th>Previous Rating</th>
						<th>New Rating</th>
						<th>Rating Change</th>
					</tr>
				</thead>

				<tbody>
					<% result.forEach((user) => { %>
					<tr <% if(user.change > 0) { %> class="bg-success" <% } %> <% if(user.change < 0) { %>
						class="bg-danger" <% } %> <% if(user.change == 0) { %> class="bg-primary" <% } %>>
						<td><%= user.erank %></td>
						<td><%= user.rank %></td>
						<td><a style="color: white"
								href="https://www.codechef.com/users/<%= user.user %>"><%= user.user %></a></td>
						<td><%= user.previous %></td>
						<td><%= user.rating %></td>
						<td><%= user.change %></td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
	<script src="/js/rating.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>